<template>
  <span>aha</span>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Inject from '@/decorators/inject';
import EventHandler from '@/eventHandler';
import { KeyEvent } from '@/types';

@Component
export default class GameComponent extends Vue {
  @Inject(EventHandler)
  ev_handler!: EventHandler;

  mounted() {
    this.ev_handler.subscribe(this, KeyEvent.Left, this.press_left_callback);
    this.ev_handler.subscribe(this, KeyEvent.Up, this.press_up_callback);
    this.ev_handler.subscribe(this, KeyEvent.Right, this.press_right_callback);
    this.ev_handler.subscribe(this, KeyEvent.Down, this.press_down_callback);
  }

  press_up_callback (ev: Event) {
    this.jump(ev);
    this.go_fire(ev);
  }

  jump(e: Event) {
    console.log(e, "jump");
  }

  go_fire(e: Event) {
    console.log(e, "go_fire");
  }

  press_left_callback = (ev: Event) => {
    console.log(ev);
  };

  press_right_callback = (ev: Event) => {
    console.log(ev);
  };

  press_down_callback = (ev: Event) => {
    console.log(ev);
  };

  beforeDestroy() {
    this.ev_handler.unsubscribe(this, KeyEvent.Left);
    this.ev_handler.unsubscribe(this, KeyEvent.Up);
    this.ev_handler.unsubscribe(this, KeyEvent.Right);
    this.ev_handler.unsubscribe(this, KeyEvent.Down);
  }
}
</script>

